//
    Create by william
extends ./layout

block page-header
    script(type="text/javascript").
        var username = '#{username}';
        var title = '#{title}';
        var author = '#{author}';
        var isFork = '#{isFork}';
        var url = '#{url}';
        var createTime = '#{createTime}';
        var lastModified = '#{lastModified}';
        console.log(lastModified);

block content
    .ui.middle.align.center.aligned.grid#artwork-wrapper

block page-script
    script(src="/dist/icon.bundle.js")
    script(src="/dist/artwork.bundle.js")
